.App {
  width: 100vw;
  height: 100vh;
  background-color: #f5f3f0ff;
}
.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-d-row {
  flex-direction: row;
}
.flex-d-col {
  flex-direction: column;
}
.align_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.primary_btn {
  outline: none;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #475455;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
}